<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Omega | Projetos e Execuções</title>
    <link rel="shortcut icon" href="/images/logo.png" />


    <title>Main</title>
</head>
<body>
        

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="topnav" id="myTopnav">
    <a href="/omega"><img src="/images/logomega.png" style="width: 100px; height: 30px;" alt=""></a>
    <a href="/omega">Home</a>
    <a href="/omega/produtos">Produtos</a>
    <a href="/omega/servicos">Serviços</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    </div>

    <br>

    {{{body}}}

    <br>
    <br>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #ffa137;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Se conecte com nossas redes sociais</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a style="text-decoration: none;" href="https://www.facebook.com/pe.Omega" target="_blank">
                            <img src="/icons/facebook.png" alt="Ícone Facebook">
                        </a>


                        <!--Linkedin -->
                        <a style="text-decoration: none;" href="https://www.facebook.com/pe.Omega" target="_blank">
                            <img src="/icons/linkedin.png" alt="Ícone Linkedin">
                        </a>

                        <!--Instagram-->
                        <a style="text-decoration: none;" href="https://www.instagram.com/omegaprojetos/" target="_blank">
                            <img src="/icons/instagram.png" alt="Ícone Instagram">
                        </a>

                        <!--Whatsapp-->
                        <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=5551997156484&text=Ol%C3%A1!" target="_blank">
                            <img src="/icons/whatsapp.png" alt="Ícone whatsapp">
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <br>
        <br>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="footer-titles text-uppercase font-weight-bold">Omega projetos e execuções</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>A  Omega projetos e execuções  atua ativamente em diferentes setores e oferece uma solução completa em Engenharia, oferecemos soluções completas para nossos clientes.</p>
                    <p>Residêncial, Comercial, Empresas, Escritórios e Industrias sempre oferencendo um pacote completo para nossos clientes. Nossa empresa  fica localizado  com sede  em Gramado RS e filial em São Leopoldo e possui um equipe totalmente capacitada para atender com rapidez e confiança nossos clientes</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="footer-titles text-uppercase font-weight-bold">Serviços</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                    <p>
                        Montagem de Subestações
                    </p>
                    <p>
                        Instalações elétricas 
                    </p>
                    <p>
                        Instalações em SPDA
                    </p>
                    <p>
                        Laudos Elétricos 
                    </p>
                    <p>
                        Instalações de rede de telefonia
                    </p>
                    <p>
                        Instalações de cabeamento UTP'S e
                    </p>
                    <p>
                        Consultoria de eficiência energética
                    </p>
                    <p>
                        Instalação de Quadro de Força
                    </p>
                    <p>
                        Instalação de Quadro de Distribuição
                    </p>
                    <p>
                        Instalação de Quadro de Comando
                    </p>
                    <p>
                        Execução de Reforma Elétrica
                    </p>
                    <p>
                        Execução de Substituição de Fiação
                    </p>
                    <p>
                        Instalação de Fibra ótica
                    </p>
                    <p>
                        Reforma Elétrica Predial
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="footer-titles text-uppercase font-weight-bold">Setores</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Elétrica
                    </p>
                    <p>
                        Hidráulica
                    </p>
                    <p>
                        Segurança
                    </p>
                    <p>
                        Sustentabilidade
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="footer-titles text-uppercase font-weight-bold">Contato</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        MATRIZ - Rua Crescêncio Till, nº 155, Gramado-RS
                    </p>

                    <p>
                        FILIAL - Avenida João Corrêa, nº 2794, São Leopoldo-RS
                    </p>

                    <p>
                        Email: omegaprojetosrs@gmail.com
                    </p>

                    <p>
                        Telefone: +55 (51)981327066
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#">Omega Projetos e Execuções</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>
</html>