/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .myContent, .topnav{

        width: 100%;
    
    }

}
@media only screen and (min-width: 992px) {
    
    .myContent, .topnav{

        width: 90%;
        margin-left: 5%;
    
    }

}


.footer-titles{

    color: #4F4F4F;

}
footer img{

    width: 20px; 
    height: 20px;
    margin: 0 10px 0 0;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color: none;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #4F4F4F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    text-decoration: none;
    background-color: #ddd;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }