<br>
<section class="produtos container">
    <h3>Bem Vindo ao setor Produtos!</h3>
    <br>

    <h4>Setores</h4>
    <br>
    <a href="produtos/eletrica">
        <div class="card">
            <div class="card-body">
                Elétrica
            </div>
        </div>
    </a>
    <br>
    <a href="produtos/hidraulica">
    <div class="card">
        <div class="card-body">
            Hidráulica
        </div>
    </div>
    </a>
    <br>
    <a href="produtos/seguranca">
    <div class="card">
        <div class="card-body">
            Segurança
        </div>
    </div>
    </a>
    <br>
    <a href="produtos/sustentabilidade">
        <div class="card">
            <div class="card-body">
                Sustentabilidade
            </div>
        </div>
    </a>
</section>