<!--PC version-->
<section class="text-justify corpo d-none d-md-block">

    <!--Elétrica em geral-->
    <div class="row">
        <h2>Elétrica em geral</h2>
        <p>Profissionais altamente capacitados, experientes e com formatação técnica e engenharia. Resolvemos qualquer necessidade em relação à elétrica, desde a instalação de disjuntores, tomadas e equipamentos como chuveiros e aquecedores. Atuamos
            também na manutenção para resolver curtos e perdas de energia. Realizamos uma varredura completa na sua rede. Podemos criar a sua rede elétrica desde o projeto com registro CREA.</p>
    </div>
    <div class="row">
        <img style="width: 50%;" src="/images/servico1.jpg" alt="">
    </div>

    <br>

    <!--Obras e reformas-->
    <div class="row">
        <h2>Obras e reformas</h2>
        <p>Atendimento completo na execução de suas obras de construção, interiores, reformas residenciais, comerciais e industriais. Atuamos em diversos serviços com profissionais experientes e comprometidos em entregar tudo limpo, organizado e conforme
            acordado na contratação. Somos especialistas em gesso, pintura, reboco, azulejo, porcelanato, instalação de piso vinílico, hidráulica, e acabamentos em geral.</p>
    </div>
    <div class="row">
        <img style="width: 50%;" src="/images/serv2.jpg" alt="">
    </div>

    <br>

    <!--Cercas Concertinas-->
    <div class="row">
        <h2>Cercas Concertinas</h2>
        <p>A cerca concertina é uma variação muito mais eficiente do arame farpado. Instalada sob pressão, esta cerca concertina é instalada em cima de muros, grades, cercas, portões e telhados. Esta solução aumenta a segurança de seu patrimônio, sua
            aplicação original era em instalações militares, e a grande vantagem em relação a cerca elétrica, é que é mais difícil de ser sabotada.</p>
    </div>
    <div class="row">
        <img style="width: 50%;" src="/images/serv3.jpg" alt="">
    </div>

    <br>

    <!--Manutenções em condomínios-->
    <div class="row">
        <h2>Manutenções em condomínios</h2>
        <p>Coloque o seu condomínio em boas mãos para obras, manutenções e reformas em geral. Todos os profissionais utilizam EPI, trabalham uniformizados e com ferramentas para limpeza do local durante a execução. Rapidez e segurança na execução dos
            serviços em seu condomínio. Conte com a nossa experiência.</p>
    </div>
    <div class="row">
        <img style="width: 50%;" src="/images/serv4.jpg" alt="">
    </div>

    <br>

    <!--Sistemas de segurança-->
    <div class="row">
        <h2>Sistemas de segurança</h2>
        <p>Oferecemos um serviço completo para instalação e manutenção de diversos tipos de sistemas de segurança para proteção do seu patrimônio contra roubos e furto. Manutenções, Consertos e Melhorias Com o passar do tempo, os sistemas de câmeras
            de segurança, alarmes e cerca elétrica sofrem desgastes naturais ou até mesmo tornam-se obsoletos com o surgimento de novas tecnologias.</p>
    </div>
    <div class="row">
        <img style="width: 50%;" src="/images/serv5.jpg" alt="">
    </div>

    <br>

    <!--Energia Solar-->
    <div class="row">
        <h2>Energia Solar</h2>
        <p>Oferecemos um serviço completo para instalação e manutenção de diversos tipos de sistemas de energia solar. Energia solar é um termo que se refere à energia proveniente da luz e do calor do Sol. É utilizada por meio de diferentes tecnologias
            em constante evolução, como o aquecimento solar, a energia solar fotovoltaica, a energia heliotérmica, a arquitetura solar e a fotossíntese artificial.</p>
    </div>
    <div class="row">
        <img style="width: 50%;" src="/images/serv6.jpg" alt="">
    </div>

</section>

<!--Mobile version-->
<section class="container text-justify d-sm-block d-md-none">

    <!--Elétrica em geral-->
    <div>
        <h2>Elétrica em geral</h2>
        <p>Profissionais altamente capacitados, experientes e com formatação técnica e engenharia. Resolvemos qualquer necessidade em relação à elétrica, desde a instalação de disjuntores, tomadas e equipamentos como chuveiros e aquecedores. Atuamos
            também na manutenção para resolver curtos e perdas de energia. Realizamos uma varredura completa na sua rede. Podemos criar a sua rede elétrica desde o projeto com registro CREA.</p>
    </div>
    <div>
        <img style="width: 100%;" src="/images/servico1.jpg" alt="">
    </div>

    <br>

    <!--Obras e reformas-->
    <div>
        <h2>Obras e reformas</h2>
        <p>Atendimento completo na execução de suas obras de construção, interiores, reformas residenciais, comerciais e industriais. Atuamos em diversos serviços com profissionais experientes e comprometidos em entregar tudo limpo, organizado e conforme
            acordado na contratação. Somos especialistas em gesso, pintura, reboco, azulejo, porcelanato, instalação de piso vinílico, hidráulica, e acabamentos em geral.</p>
    </div>
    <div>
        <img style="width: 100%;" src="/images/serv2.jpg" alt="">
    </div>

    <br>

    <!--Cercas Concertinas-->
    <div>
        <h2>Cercas Concertinas</h2>
        <p>A cerca concertina é uma variação muito mais eficiente do arame farpado. Instalada sob pressão, esta cerca concertina é instalada em cima de muros, grades, cercas, portões e telhados. Esta solução aumenta a segurança de seu patrimônio, sua
            aplicação original era em instalações militares, e a grande vantagem em relação a cerca elétrica, é que é mais difícil de ser sabotada.</p>
    </div>
    <div>
        <img style="width: 100%;" src="/images/serv3.jpg" alt="">
    </div>

    <br>

    <!--Manutenções em condomínios-->
    <div>
        <h2>Manutenções em condomínios</h2>
        <p>Coloque o seu condomínio em boas mãos para obras, manutenções e reformas em geral. Todos os profissionais utilizam EPI, trabalham uniformizados e com ferramentas para limpeza do local durante a execução. Rapidez e segurança na execução dos
            serviços em seu condomínio. Conte com a nossa experiência.</p>
    </div>
    <div>
        <img style="width: 100%;" src="/images/serv4.jpg" alt="">
    </div>

    <br>

    <!--Sistemas de segurança-->
    <div>
        <h2>Sistemas de segurança</h2>
        <p>Oferecemos um serviço completo para instalação e manutenção de diversos tipos de sistemas de segurança para proteção do seu patrimônio contra roubos e furto. Manutenções, Consertos e Melhorias Com o passar do tempo, os sistemas de câmeras
            de segurança, alarmes e cerca elétrica sofrem desgastes naturais ou até mesmo tornam-se obsoletos com o surgimento de novas tecnologias.</p>
    </div>
    <div>
        <img style="width: 100%;" src="/images/serv5.jpg" alt="">
    </div>

    <br>

    <!--Energia Solar-->
    <div>
        <h2>Energia Solar</h2>
        <p>Oferecemos um serviço completo para instalação e manutenção de diversos tipos de sistemas de energia solar. Energia solar é um termo que se refere à energia proveniente da luz e do calor do Sol. É utilizada por meio de diferentes tecnologias
            em constante evolução, como o aquecimento solar, a energia solar fotovoltaica, a energia heliotérmica, a arquitetura solar e a fotossíntese artificial.</p>
    </div>
    <div>
        <img style="width: 100%;" src="/images/serv6.jpg" alt="">
    </div>

</section>